
:root {
  --black-900: #000;
  --black-800: #090909;
  --gray-400: #F3F1FC;
  --gray-600: #8E9CA1;
  --gray-700: #595959;
  --gray-800: #343434;
  --berger: #F7F3EB;
  --purple-600: #8979E8;
  --purple-800: #624CE0;
  --white: #fff;
}

@media(prefers-color-scheme: dark){
  :root{
    --white: #1D1D1D;
    --black-900: #E6E6E6;
    --black-800: #E6E6E6;
    --gray-800: #E6E6E6;
    --gray-700: #E6E6E6;
    --gray-600: #E6E6E6;
    --gray-400: #212121;
    --berger: #212121; 
  }
}