@import '@styles/mixins.scss';
@import '@styles/vars/screen-sizes.scss';

.section {
  margin-block: 70px 100px;
}

.container {
  text-align: center;
  @include container(true);
  max-width: 1000px;
}

.title {
  font-size: 52px;
  color: var(--gray-800);
}

.subtitle {
  margin-block: 10px 25px;
}

.offers {
  border-radius: 5px;
  display: flex;
  row-gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  padding-block: 45px;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 0.8rem;
}

.card {
  padding-inline: 45px;
  text-align: start;
  border-right: 1px solid var(--gray-400);
  flex-basis: 33.3%;
  flex-grow: 1;
  min-width: 300px;

  &:last-child {
    border: none;
  }

  &Title,
  &Price {
    font-size: 23px;
    color: var(--gray-800);
  }

  &Text {
    margin-block: 20px;
    font-size: 14px;
  }

  &Button {
    width: 100%;
    margin-block: 20px 35px;
  }

  &List {
    margin-left: 30px;
    font-size: 14px;

    &Item {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $tablet) {
  .offers {
    box-shadow: none;
    gap: 40px;
  }
  .card {
    flex-grow: 1;
    border-right: none;
    padding-block: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid var(--gray-600);

    &:last-child {
      border: 1px solid var(--gray-600);
    }
  }
}

@media (max-width: $mobileL) {
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .section {
    margin-block: 40px;
  }
}
