.button {
  height: 50px;
  padding: 5px 25px;
  border-radius: 30px;
  font-size: 15px;
  transition: all 0.4s ease;
}

.black {
  background-color: var(--black-900);
  color: var(--white);

  &:hover {
    filter: brightness(80%);
  }
}

.outlineBlack {
  border: 2px solid var(--black-900);
  color: var(--black-900);

  &:hover {
    background-color: var(--black-900);
    color: var(--white);
  }
}

.outlinePurple {
  border: 2px solid var(--purple-600);
  color: var(--purple-600);

  &:hover {
    background-color: var(--purple-600);
    color: var(--white);
  }
}

.purple {
  background-color: var(--purple-600);
  color: var(--white);

  &:hover {
    filter: brightness(80%);
  }
}
