@import '@styles/mixins.scss';
@import '@styles/vars/screen-sizes.scss';

.header {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.container {
  @include container;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftItem {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.logo {
  flex-shrink: 0;
  &Light {
    display: none;
  }
}

.list {
  font-size: 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &Link {
    padding: 5px 10px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0px;
      background-color: var(--black-800);
      border-radius: 10px;
      transition: width 0.5s ease;
    }

    &:hover::before {
      width: 90%;
    }
  }
}

.hamburger {
  position: relative;
  height: 54px !important;
  width: 54px;
  padding: 0;
  display: none;

  &:hover span {
    background-color: var(--white);
  }

  & span {
    position: absolute;
    height: 2px;
    width: 65%;
    border-radius: 10px;
    background-color: var(--black-800);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }

  &Item1 {
    top: 30%;
  }

  &Item2 {
    top: 50%;
    transform: translateY(-50%) translateX(-50%) !important;
  }

  &Item3 {
    bottom: 30%;
  }
}

.active {
  & .hamburgerItem1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  & .hamburgerItem2 {
    width: 0;
  }

  & .hamburgerItem3 {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}

@media (max-width: $laptop) {
  .list {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
