@import '@styles/mixins.scss';
@import '@styles/vars/screen-sizes.scss';

.section {
  margin-block: 75px;
}

.container {
  @include container(true);
  text-align: center;
}

.title {
  font-size: 54px;
  color: var(--gray-800);
}

.subtitle {
  margin-block: 10px 50px;
}

.carousel {
  position: relative;
  padding-bottom: 40px;
}

.listDot {
  position: absolute;
  bottom: 0;
}

.card {
  text-align: start;
  margin-inline: 20px;
  &Image {
    height: 240px;
    margin-bottom: 15px;
  }

  &Description {
    font-size: 16px;
    margin-block: 10px 15px;
  }

  &Date {
    font-size: 14px;
    color: var(--gray-800);

    & a {
      color: var(--black-900);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dot {
  background-color: #869791;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: background-color 0.5s ease;
  margin-inline: 5px;

  &Active {
    background-color: var(--black-900);
  }
}

@media (max-width: $mobileL) {
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .section {
    margin-block: 40px;
  }
}
