@import '@styles/mixins.scss';
@import '@styles/vars/screen-sizes.scss';

.banner {
  display: flex;
  margin-block: 50px;
}

.container {
  @include container;
  display: flex;
  align-items: center;
}

.content {
  flex-basis: 40%;
  flex-shrink: 0;
}

.description {
  text-transform: uppercase;
  color: var(--purple-800);
  font-size: 15px;
}

.title {
  font-size: 46px;
  color: var(--gray-800);
  margin-block: 26px 20px;
}

.subtitle {
  margin-bottom: 35px;
}

.image {
  flex-basis: 65%;
}

@media (max-width: $tablet) {
  .container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .content {
    order: 1;
  }

  .image {
    order: 2 !important;
  }
}

@media (max-width: $mobileL) {
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
